@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: "Outfit",sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
}

.card{
    text-align: center;
    width: 375px;
    background: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 35px hsl(212, 45%, 89%),
    0 -10px 35px hsl(212, 45%, 89%);
}
.card img{
    width: 100%;
}
.card .text{
    padding: 10px;
}
.card .text h2{
    color: hsl(218, 44%, 22%);
    padding: 10px;
    font-weight: 700;
}
.card .text p{
    padding: 10px 40px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color:hsl(216, 15%, 48%);
}